[Unit]
Description=Launch Now Script
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 5
# Update PATH and execute the script
ExecStart=/bin/bash -c 'export PATH="/home/orangepi/Documents/moos-ivp-pavlab-a>
WorkingDirectory=/home/orangepi/Documents/moos-ivp/ivp/missions/alpha_heron
Restart=always
StandardOutput=append:/home/orangepi/launch_now.log
StandardError=append:/home/orangepi/launch_now_error.log

[Install]
WantedBy=default.target


# sudo systemctl daemon-reload
# sudo systemctl enable service 
# sudo systemctl start service 
