# sudo nano /etc/systemd/system/launch_all.service
# sudo systemctl daemon-reload
# paste the below command

[Unit]
Description=Launch Now Script
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 5
# Update PATH and execute the script
ExecStart=/bin/bash -c 'export PATH="/home/orangepi/Documents/innonautics_moos_dev/moos-ivp-pavlab-aro/bin:/home/orangepi/Documents/innonautics_moos_dev/moos-ivp/ivp/bin:$PATH"; cd /home/orangepi/Documents/innonautics_moos_dev/moos-ivp-pavlab-aro/missions/alpha_heron && echo | ./launch_all.sh'
WorkingDirectory=/home/orangepi/Documents/innonautics_moos_dev/moos-ivp-pavlab-aro/missions/alpha_heron
Restart=always
StandardOutput=append:/home/orangepi/launch_now.log
StandardError=append:/home/orangepi/launch_now_error.log

[Install]
WantedBy=default.target

# sudo systemctl start launch_all.service
# sudo systemctl enable launch_all.service
# sudo systemctl disable launch_all.service
# sudo systemctl stop launch_all.service