build/*
build-utests/*
include/
lib/*
!/bin/ipaddrs.sh
bin/*
*svn-base
*~
*/*~
*attic*
missions/*/LOG*
missions/*/XLOG*
missions/*/MOOSLOG*
missions/*/targ*
missions/*/vcolors.txt
missions/*/vloiterpos.txt
missions/*/vpositions.txt
missions/*/vspeeds.txt
missions/*/vnames.txt
missions/*/.LastOpenedMOOSLogDirectory
missions/*/*++
missions/*/*~+
*#
mis
